<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Casas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
               Casas
            </li>
            <li class="active">
                <strong>Casas</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div ng-repeat="house in me.houses" class="col-lg-4">
    <div class="contact-box">
        <a ui-sref="profile">
            <div class="col-sm-4">
                <div class="text-center">
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>{{house.name}}</strong></h3>
                <address>
			<a ui-sref="app.house({id: {{house.house_id}}})" class="btn btn-primary"><h3>Administrar</h3></a>
	        
                </address>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>



</div>
</div>
